body {
  color: #fff;
  background-color: #000;
  font-family: arial;
  text-align: center;
}
section {
  font-size: 18px;
  font-family: Arial;
  width: 140px;
  height: auto;
  border-width: 1px;
  color: #777777;
  border-color: #dcdcdc;
  font-weight: bold;
  padding: 2px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  text-shadow: inset 0px 1px 0px #ffffff;
  background: linear-gradient(#ededed, #dfdfdf);
}

section:hover {
  background: linear-gradient(#dfdfdf, #ededed);
}
