body {
  color: #fff;
  background-color: #000;
  justify-content: arial;
  text-align: center;
}

.links {
  margin-block: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

a {
  font-size: 18px;
  font-family: Arial;
  width: 96px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px solid #dcdcdc;
  text-decoration: none;
  color: white;
  text-decoration: none;
}
section {
  font-size: 18px;
  font-family: Arial;
  width: 140px;
  height: auto;
  border-width: 1px;
  color: #777777;
  font-weight: bold;
  padding: 2px;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #1c1b1b;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  text-shadow: inset 0px 1px 0px #ffffff;
  background: linear-gradient(#ededed, #dfdfdf);
}

section:hover {
  background: linear-gradient(#dfdfdf, #ededed);
}
